<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<bean id="studentbean" class="com.Spring.FirstSpringDeskstopApplication.Student" scope="singleton">
		<property name="rollno" value="7" />
		<property name="name" value="MahendraSingh Dhoni" />
		<property name="per" value="77" />
		<property name="address" ref="addressbean" />
	</bean>
	
	<bean id="addressbean" class="com.Spring.FirstSpringDeskstopApplication.Address">
		<property name="city" value="ranchi" />
		<property name="state" value="Jharkhand" />
		<property name="country" value="India" />
		<property name="pin" value="413304" />
	</bean>
</beans>