<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	 <bean id="addressbean" class="com.Spring.ConstructorInjectionwithDependentObject.P_Address">
        <constructor-arg value="Ranchi"></constructor-arg>
        <constructor-arg value="jharkhand"></constructor-arg>
        <constructor-arg value="India"></constructor-arg>
        <constructor-arg value="834002"></constructor-arg>
    </bean>
    <bean id="playerbean" class="com.Spring.ConstructorInjectionwithDependentObject.Player">
        <constructor-arg value="MS Dhoni"></constructor-arg>
        <constructor-arg value="7" type="int"></constructor-arg>
        <constructor-arg> <ref bean="addressbean" /></constructor-arg>
    </bean>
</beans>